@import url('/assets/css/reset.css');
@import url("/assets/css/global.css");


header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    text-align: center;
    padding: 3.2rem 6.4rem ;
    border-bottom: 1px solid var(--gray-600);
    display: inline-flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-self: center;
    background-color: var(--white);
}

.header-nav-left{
    list-style: none;
    display: flex;
    padding: 0;
}

.header-nav-right{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 1.6rem;
    align-items: center;
}

header li {
    align-self: center;
}

header nav {
    align-self: center;
}

.header-logo{
    background-image: url("/assets/images/logo-header-menu.svg");
    background-repeat: no-repeat;
    background-position: left;
    width: 13.2rem;
    height: 4.4rem;
}

